@model TextsEditor.Models.File
<h2 class="text-center" style="margin-top:3em">Edit file</h2><br />
<div class="container col-md-12">
    @using (Html.BeginForm(actionName: "OpenFile", controllerName: "Home", method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", style = "margin-top:3em" }))
    {
        <input type="hidden" name="_id" value=@ViewBag.Id />
        <div class="form-group">
            @Html.Label(expression: "text", labelText: "Name") <br />
            @Html.TextBox(name: "name", value: null, htmlAttributes: new { @required = "required", @class = "form-control mr-sm-2", placeholder = "Name file" })<br />
        </div>
        <div class="form-group">
            @Html.Label(expression: "text", labelText: "Text", htmlAttributes: null)<br />
            @Html.TextArea(name: "text", value: null, rows: 20, columns: 50, htmlAttributes: new { @class = "form-control mr-sm-2 col-md-12", @style = "overflow:auto; " })
        </div>
        <div class="form-group">
            <button type="submit" name="enter" class="btn btn-success">Save</button>
            @Html.ActionLink("Cancel", "AllFile", "Home", new { @class = "btn btn-info" })
        </div>
    }
</div>